@font-face {
    font-family: typewriter;
    src: url(../../assets/fonts/typewriter.ttf);
}

.navbar-custom {
    background-color: transparent;
}

.navbar-custom .navbar-brand {
    color: darkgreen;
}

.navbar-custom .navbar-text {
    color: purple;
}

.nav-tabs .nav-link {
    color: black;
    font-family: typewriter;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(0,0,0, .20);
}

.nav-tabs .nav-link.active {
    border-color: black;
}

.nav-justified .nav-item .nav-link {
    border: solid 2px rgb(27, 27, 27);
}

.nav-justified .nav-item .nav-link:hover {
    border: solid 2px gray;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.nav-justified .nav-item .nav-link.active {
    border: solid 2px rgb(27, 27, 27);
    border-bottom: solid 2px white;
}

.nav-tabs-custom .nav-item.show .nav-link {
    border: solid 1px yellow;
    color: purple
}

.nav-tabs-custom .nav-link.active {
    border: solid 1px red;
    color: lightsalmon;
}

.nav-tabs-custom .nav-link {
    border: solid 1px black;
    color: lightsalmon;
}

.navbar-custom .nav-link.active {
    color: black;
}

.nav-tabs .nav-item.show .nav-link {
    color: purple;
}

.frame {
    background-color: white;
    padding-left: 10px;
    padding-top: 5px;
    border: 2px solid black;
    border-top: none;
}