@font-face {
    font-family: wod;
    src: url(../../assets/fonts/wod1.woff) format('woff');
}

.wod{
    font-family: wod;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
    color: black;
    word-spacing: 0.000000px;
    white-space: pre;
    transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    unicode-bidi: bidi-override;
    z-index: 99;
    background-color: white;
}

.wod-attribute{
    font-size: 18px;
}

.wod-skill{
    font-size: 12px;
}

.wod-spendable{
    font-size: 14px;
}